<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">Log in</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>

                <div class="form-outline form-white mb-4">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg', id: "typeEmailX" %>
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg", id:"typePasswordX" %>
                  <label class="form-label" for="typePasswordX">Password</label>
                </div>

                <p class="small mb-5 pb-lg-2">
                  <%= f.label :remember_me %>
                  <%= f.check_box :remember_me, class:"text-white-50" %>
                </p>
                <%= f.submit "Log in", class: "btn btn-outline-light btn-lg px-5" %>
              </div>

            <% end %>
            <%= render "devise/shared/links", class:"text-white-50 fw-bol" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
