<h1>Add a food</h1>

<%= form_with(scope: :foods, url: user_foods_path(@current_user), method: :post, local: true) do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %>
    <%= f.text_field :measurement_unit, placeholder: 'Measurement unit' %>
    <%= f.text_field :price, placeholder: 'Price' %>
    <%= f.submit 'Add', class:'btn btn-dark' %>
<% end %>
