<div>
  <h2 class="text-center my-4">Add Ingredient!</h2>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Food</th>
          <th>Measurement Unit</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
      </thead>

      <% @foods.each do |food| %>
        <%= form_with model: @recipe_food, url: user_recipe_recipe_foods_path do |f| %>
          <tr>
            <%= hidden_field_tag 'food_id', food.id %>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= f.number_field :quantity %></td>
            <td><%= f.submit 'Add ingredient', class: "btn btn-dark" %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
